{% import (
  "github.com/kyleu/npn/app"
  "github.com/kyleu/npn/app/controller/cutil"
  "github.com/kyleu/npn/app/util"
  "github.com/kyleu/npn/views/layout"
) %}

{% code type Workspace struct { layout.Basic } %}

{% func (p *Workspace) Head(as *app.State, ps *cutil.PageState) %}
  <link href="/assets/vendor/{%s util.AppKey %}.css" rel="stylesheet">
  <script src="/assets/vendor/vendor.js"></script>
  <script src="/assets/vendor/{%s util.AppKey %}.js"></script>
  <script src="/assets/vendor/editor/editor.js" defer="defer"></script>
{% endfunc %}

{% func (p *Workspace) Nav(as *app.State, ps *cutil.PageState) %}{% endfunc %}

{% func (p *Workspace) Menu(ps *cutil.PageState) %}{% endfunc %}

{% func (p *Workspace) Body(as *app.State, ps *cutil.PageState) %}
  {%- code ps.Icons = nil -%}
  <div id="npn"></div>
  <script>document.addEventListener("DOMContentLoaded", () => init(true, true));</script>
{% endfunc %}
